*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{

    
    width: 80%;
    margin:  auto;
    text-align: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.95);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2%;
    margin-bottom: 100px;
    
}
#userpic{
    width: 20%;
    margin:auto;
    display: block;
    border-radius: 50%;
    
}
label{
  
    
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
    text-align: left;
}
.lol input{
    max-width: 500px;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    outline: 0px solid #5181e022;
    color: #5181e0;
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: .875rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px #5181e011;
    appearance: none;
    transition: 50ms;
    display: block;   
}
#sectionA input{
    max-width: 500px;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 12px;
      outline: 0px solid #5181e022;
      color: #5181e0;
      background-color: #fff;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: .875rem;
      letter-spacing: 1px;
      box-shadow: 0 4px 10px #5181e011;
      appearance: none;
      transition: 50ms;
      display: block;
}
#sectionA{
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    
}
#q{
    justify-content: space-between;
}
#filetag{
    display: none;
}
#imagediv{
    text-align:center;
        padding: 1%;
       
        width: 25%;
        margin: auto;
}
nav{
   
    background-color: rgba(238, 236, 236, 0.95);

}
nav ul{
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 236, 236, 0.95);
    height: 60px;
    padding: 10px;

}

nav ul li:hover{
    color: rgb(228, 130, 3);
}

.qq{
    margin: 1rem;
    width: 10%;
    color: rgb(138, 136, 136);
    font-weight: 800;
    font-size: 1.1rem;
    height: 30px;
    
}
.qq:hover{
    background-color: white;
    color: rgb(228, 130, 3);
}
.q1{
    background-color: white;
    color: white;
    padding: 1rem;
}
#imagepic{
    width: 300px;
    border-radius: 1000px;
    margin: auto;
}
#image{
    border-radius: 50%;
}
#btn1{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    width: 30%;
    margin: auto;
    text-align: center;
    align-items: center;
    border-radius: 100px;
    padding: 0.6%;
  background-color: #000000;
  color: white;
  border-style: none;
}
#imgage{
    width: 30%;
    max-height: 20vh;
    display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; 
    border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
}
#imag{
    display: inline-block; position: relative; width: 300px; height: 200px; overflow: hidden; border-radius: 50%; } 

    table {
        width: 100%;
        border-collapse: collapse;
    }
        td{
            font-size: 1.1rem;
        }
        #sectionA  table input{
            max-width: 200px;
            height: 50px;
            margin: 1rem;
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 12px;
            outline: 0px solid #5181e022;
            color: #5181e0;
            background-color: #fff;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: .875rem;
            letter-spacing: 1px;
            box-shadow: 0 4px 10px #5181e011;
            appearance: none;
            transition: 50ms;
        }
        th {
          padding: 12px 15px;
          border: 1px solid #ddd;
          text-align: center;
          font-size: 16px;
        }
      
        th {
            height: 5vh;
          background-color: darkblue;
          color: #ffffff;
        }
      
        tbody  tr:nth-child(even) {
            background-color: #f5f5f5;
          
        }
      
      
      /*responsive*/
      
      @media (max-width: 500px) {
        .table thead {
          display: none;
        }
      
        .table,
        .table tbody,
        .table tr,
        .table td {
          display: block;
          width: 100%;
        }
        .table tr {
          margin-bottom: 15px;
        }
        .table td {
          text-align: right;
          padding-left: 50%;
          text-align: right;
          position: relative;
        }
        .table td::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-size: 15px;
          font-weight: bold;
          text-align: left;
        }
      }
#summary{
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 15vh;
    margin-top: 10px;
}




.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    width: 580px;
    height: 80px;
    border-radius: 9999px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: auto;
}

input[type="radio"] {
    appearance: none;
    display: none;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 400px;
    height: 60px;
    text-align: center;
    border-radius: 9999px;
    overflow: hidden;
    transition: linear 0.3s;
    color: black;
}

input[type="radio"]:checked + label {
    background-color: white;
    color: darkblue;
    font-weight: 900;
    transition: 0.3s;
}
#ptag{
    font-size: 1rem;
}
@media only screen and (max-width: 1700px) {

    #sectionA  table tr td{
        display: block;
        margin: auto;


    }
    #sectionA  table tr {
        display: flexbox;
        margin: auto;
        
    }
    #sectionA  table tr th{
        display: block;
        margin: auto;

    }
    #sectionA  table input{
        max-width: 100%;
        height: 50px;
        margin: 1rem;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 12px;
        outline: 0px solid #5181e022;
        color: #5181e0;
        background-color: #fff;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: .875rem;
        letter-spacing: 1px;
        box-shadow: 0 4px 10px #5181e011;
        appearance: none;
        transition: 50ms;
    }
    
  }
