*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register{
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 100px;

    

}

.register input{
    display: block;
    width: 30%;
    max-width: 30%;
    height: 50px;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    outline: 0px solid #5181e022;
    color: #5181e0;
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: .875rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px #5181e011;
    appearance: none;
    transition: 50ms;
    margin: auto;
    margin-top: 1rem;
      
    
}
.register input:focus{
    outline: none;
    border: 2px solid #ee165e;
    
}
#reg{
    width: 80%;
    margin:  auto;
    text-align: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.95);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 100px 100px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2%;
    height: 65vh;
    padding: 1rem;
}
.button{
    display: block;
      font-size: 1rem;
      font-weight: 600;
      width: 30%;
      margin: auto;
      text-align: center;
      align-items: center;
      border-radius: 100px;
      padding: 0.6%;
    background-color: #000000;
    color: white;
    border-style: none;
}
.button:hover{
    background-color: #2c2c2c;
    color: white;
}
#loginlink{
    color: #5181e0;
text-decoration: none;
  margin-top: 10px;
}